section.footer
  .container 
    .footer-top 
      .footer-column 
        a(href="index.html").footer-heading.footer-heading--logo MOGO
        p.footer-desc.text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p.footer-follower <strong>15k</strong> follower 
        .footer-social 
          span.text Follow us: 
          .footer-social-list 
            a.footer-social-icon(href="#") 
              i.fab.fa-facebook
            a.footer-social-icon(href="#") 
              i.fab.fa-twitter 
            a.footer-social-icon(href="#") 
              i.fab.fa-instagram 
            a.footer-social-icon(href="#") 
              i.fab.fa-pinterest 
            a.footer-social-icon(href="#") 
              i.fab.fa-youtube 
            a.footer-social-icon(href="#") 
              i.fab.fa-dribbble
            a.footer-social-icon(href="#") 
              i.fab.fa-tumblr 
            a.footer-social-icon(href="#") 
              i.fab.fa-google-plus  
        .footer-form(action="#") 
          input(type="email" placeholder="Your Email").footer-form-input
          button.footer-form-button Subcribe 
      .footer-column 
        h3.footer-heading Blogs 
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs1.png", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit 
            span.footer-blog-date.text.text-light Jan 9, 2016
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs2.png", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit 
            span.footer-blog-date.text.text-light Jan 9, 2016
        a(href="#").footer-blog 
          img.footer-blog-image(src="./images/img-blogs3.png", alt="")
          .footer-blog-info 
            h4.footer-blog-title Lorem ipsum dolor sit 
            span.footer-blog-date.text.text-light Jan 9, 2016
      .footer-column 
        h3.footer-heading Instagram 
        .footer-images 
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
          .footer-image 
           img(src="./images/img-instagram1.png", alt="")
        a(href="#").footer-iamges-more.text.text-light View more photos
    .footer-bottom &copy: 2016 Mogo free PSD template by <span>Laaqiq</span>