section.people 
  .container 
    +blockBox("Happy Client","What people say") 
    ul.people-list 
      +peopleItem("./images/img-people1.png", "Mathew Dix", "Graphic Design")
      +peopleItem("./images/img-people2.png", "Nick Karvounis", "Graphic Design")
      +peopleItem("./images/img-people3.png", "Jaelynn Castillo", "Graphic Design")
      +peopleItem("./images/img-people4.png", "Mike Petrucci", "Graphic Design")