section.team
  .container
    +blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .team-list 
      +teamItem("./images/img-team1.png","Mathew dix", "Graphic Design")
        +teamSocial()
      +teamItem("./images/img-team2.png","Christopher Cambell", "Branding/UX Design")
        +teamSocial()
      +teamItem("./images/img-team3.png","Michael pertic", "Developer")
        +teamSocial()
section.brand 
  .container 
    img(src="./images/img-logos.png", alt="brands")