section.quote 
  .container 
    .quote-container
      +quoteItem("https://images.unsplash.com/photo-1606767787888-a2968f4d649e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80", true)
      +quoteItem("https://images.unsplash.com/photo-1612178010892-205e565c4c5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=865&q=80", true)
      +quoteItem("https://images.unsplash.com/photo-1559554498-dfe2798aa518?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80", true)