section.wedo 
  .container 
    +blockBox("Service", "What we do", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .wedo-container 
      img.wedo-image(src="../images/img-wedo.png", alt="#")
      //- accordion
      .wedo-content 
        +wedoItem("../images/img-wedo-icon1.png", "Photography", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti voluptatum, iure soluta animi odio nobis dolores magni atque. Nobis repellendus molestiae officia dicta unde doloremque optio ab aperiam magnam!Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti voluptatum, iure soluta animi odio nobis dolores magni atque. Nobis repellendus molestiae officia dicta unde doloremque optio ab aperiam magnam!")
        +wedoItem("../images/img-wedo-icon2.png", "Creativity", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti voluptatum, iure soluta animi odio nobis dolores magni atque. Nobis repellendus molestiae officia dicta unde doloremque optio ab aperiam magnam!") 
        +wedoItem("../images/img-wedo-icon3.png", "Web-design", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore deleniti voluptatum, iure soluta animi odio nobis dolores magni atque. Nobis repellendus molestiae officia dicta unde doloremque optio ab aperiam magnam!")  